<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> webku </title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
  </head>

<h1> Hello Gaes! </h1>

<a href="/"> klik disini buat lanjut ya </a>

</html>
